.container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 12%);
  background-color: aliceblue;
  padding: 10px;
}
.whole {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.h2 {
  text-align: center;
  margin: 15px 0 15px 0;
}
.p {
  text-align: center;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  background-color: red;
  color: aliceblue;
  cursor: pointer;
  border-radius: 5px;
}
.h4 {
  margin: 5px 0 10px 0;
}
@media screen and (max-width: 600px) {
  .h2 {
    font-size: 21px;
  }
}
