.whole {
  align-items: center;
  background-color: aliceblue;
  padding: 20px;
  position: relative;
  top: 55px;
}
.contact {
  position: absolute;
  padding: 10px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -23%);
}
.blur {
  background-image: url("../Images//Websited.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  z-index: -1;
  width: 350px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black, -3px -3px 10px black, 2px 2px 3px black;
}
.form {
  z-index: 2;
  background-color: transparent;
  color: aliceblue;
  position: relative;
  top: -350px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
  padding: 40px 0px;
  height: 350px;
}
.contactButton {
  padding: 10px;
  width: 70%;
  text-transform: uppercase;
  font-weight: bold;
  color: aliceblue;
  background-color: rgb(0, 255, 0);
  border: none;
  border-radius: 10px;
}
.select {
  border: 1px solid gray;
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  text-align: center;
  background-color: aliceblue;
}
.input {
  text-align: center;
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
  background-color: aliceblue;
}
.h3 {
  font-size: 30px;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  gap: 50px;
  margin-top: 10px;
}
.items {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 2px 2px 5px black, -3px -3px 10px black, 2px 2px 3px black;
  border-radius: 10px;
}
.itemss {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 2px 2px 5px black, -3px -3px 10px black, 2px 2px 3px black;
  border-radius: 10px;
}
.h3 {
  font-size: 24px;
  text-align: center;
}
.h5 {
  text-align: center;
}
.button {
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 10px;
  color: aliceblue;
  background-color: red;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) and (max-width: 1110px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .h5 {
    font-size: 17px;
  }
  .h3 {
    font-size: 23px;
  }
  .items {
    padding: 30px 15px 15px 15px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .items {
    padding: 25px 10px 10px 10px;
  }
  .h3 {
    font-size: 20px;
  }
  .h5 {
    font-size: 14px;
  }
  .blur {
    height: 250px;
    width: 300px;
  }
  .form {
    top: -250px;
    height: 250px;
    padding: 30px 5px;
  }
}
