.spinner1 {
  position: fixed;
  background-color: transparent;
  border-bottom: 3.5px solid red;
  width: 60px;
  height: 60px;
  z-index: 2;
  border-radius: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animation1 1s linear infinite forwards;
}
@keyframes animation1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner2 {
  position: fixed;
  background-color: transparent;
  border-top: 3.5px solid rgb(205, 255, 4);
  width: 60px;
  height: 60px;
  z-index: 2;
  border-radius: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animation2 1s linear infinite forwards;
}
@keyframes animation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner3 {
  position: fixed;
  background-color: transparent;
  border-right: 4px solid rgb(4, 255, 255);
  width: 60px;
  height: 60px;
  z-index: 2;
  border-radius: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animation3 1s linear infinite forwards;
}
@keyframes animation3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner4 {
  position: fixed;
  background-color: transparent;
  border-left: 4px solid rgb(7, 255, 15);
  width: 60px;
  height: 60px;
  z-index: 2;
  border-radius: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animation3 1s linear infinite forwards;
}
@keyframes animation3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.whole {
  align-items: center;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  padding: 20px;
  position: relative;
  top: 55px;
  color: aliceblue;
}
.contact {
  position: absolute;
  padding: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -23%);
}
.blur {
  background-image: url("../Images/form.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  z-index: -1;
  width: 350px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black, -3px -3px 10px black, 2px 2px 3px black;
}
.form {
  background-color: transparent;
  color: aliceblue;
  position: relative;
  top: -350px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
  padding: 40px 0px;
  height: 350px;
}

.close {
  cursor: pointer;
  color: rgb(58, 62, 66);
  border: 1px solid rgb(58, 62, 66);
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}
.contactButton {
  padding: 10px;
  width: 70%;
  text-transform: uppercase;
  font-weight: bold;
  color: aliceblue;
  background-color: rgb(0, 255, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.select {
  border: 1px solid gray;
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  text-align: center;
  background-color: aliceblue;
}
.input {
  text-align: center;
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
  background-color: aliceblue;
}
.h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.p {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.container {
  display: grid;
  padding: 20px;
  gap: 50px;
  margin-top: 10px;
}
.items {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 2px 2px 5px black, -3px -3px 10px black, 2px 2px 3px black;
  border-radius: 10px;
}

.h3 {
  font-size: 24px;
  text-align: center;
}
.h5 {
  text-align: center;
  font-size: 18px;
}
.button {
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 10px;
  color: aliceblue;
  background-color: rgb(0, 255, 0);
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) and (max-width: 1110px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .h5 {
    font-size: 17px;
  }
  .h3 {
    font-size: 23px;
  }
  .items {
    padding: 30px 15px 15px 15px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .items {
    padding: 25px 10px 10px 10px;
  }
  .h3 {
    font-size: 20px;
  }
  .h5 {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .blur {
    height: 250px;
    width: 230px;
  }
  .form {
    top: -250px;
    height: 250px;
    padding: 20px 5px;
  }
  .input {
    padding: 7px;
  }
  .contactButton {
    padding: 10px 10px 8px 10px;
  }
}
@media screen and (min-width: 600px) {
  .blur {
    height: 250px;
    width: 300px;
  }
  .form {
    top: -250px;
    height: 250px;
    padding: 30px 5px;
  }
}
@media screen and (min-width: 1100px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .items,
  .itemss {
    width: 400px;
  }
}
@media screen and (max-width: 750px) {
  .spinner1,
  .spinner2,
  .spinner3,
  .spinner4 {
    left: 45%;
  }
}
@media screen and (min-width: 750px) {
  .spinner1,
  .spinner2,
  .spinner3,
  .spinner4 {
    left: 48%;
  }
}
